@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&family=Roboto:wght@400;700&family=Zilla+Slab:wght@500&display=swap');

/* bodies */

body {
    background: linear-gradient(#5d0f12, #922323, #5d0f12);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
}



/* global elements */

h1 {
    font-size: 4em;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #FFFFFF;
}

h3 {
    font-size: 2.25em;
    font-weight: 700;
    color: #FFFFFF;
}

p {
    font-size: 1.25em;
    font-weight: 400;
    color: #FFFFFF;
}

a {
    font-size: 1.25em;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bold-text {
    font-weight: 700;
}

button {
    width: 200px;
    height: 64px;
    border-radius: 64px;
    background-color: #FFFFFF;
    border-color: #BE3144;
    border-style: none;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #F05941;
    border-color: #BE3144;
    border-style: solid;
    box-shadow: 0 0 60px #FF0000;
}

button:hover .button-text {
    color: #FFFFFF;
    text-shadow: none;
    -webkit-animation: text-white-glow 1s ease-in-out infinite alternate;
    -moz-animation: text-white-glow 1s ease-in-out infinite alternate;
    animation: text-white-glow 1s ease-in-out infinite alternate;
}

button:hover p {
    color: #FFFFFF;
    text-shadow: none;
    -webkit-animation: text-white-glow 1s ease-in-out infinite alternate;
    -moz-animation: text-white-glow 1s ease-in-out infinite alternate;
    animation: text-white-glow 1s ease-in-out infinite alternate;
}

.button-text {
    font-size: 1.75em;
    font-weight: 700;
    color: #000000;
    margin: 0 8px 0;
}

.section-description {
    width: 420px;
}

.title {
    margin: 0 0 17px;
}

.glowing-title {
    margin: 0 0 17px;
    -webkit-animation: text-white-glow 2s ease-in-out infinite alternate;
    -moz-animation: text-white-glow 2s ease-in-out infinite alternate;
    animation: text-white-glow 2s ease-in-out infinite alternate;
}

.underline {
    height: 6px;
    width: 48px;
    background-color: #FFFFFF;
    border-radius: 64px;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
}

.section-underline {
    height: 16px;
    width: 100%;
    background-color: #22272E;
}

.section-border {
    width: 100%;
    height: 1px;
    background: rgba(125, 125, 125, 0.5);
}

.first-wave {
    width: 100%;
    height: 33.575vh;
    background: url(images/other/wave1.svg);
    background-size: cover;
    animation: waves 120s linear infinite;
    z-index: -1;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.second-wave {
    width: 100%;
    height: 33.575vh;
    background: url(images/other/wave2.svg);
    background-size: cover;
    animation: waves 20s linear infinite;
    z-index: -1;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobile-image {
    display: none;
}



/*navbar*/

.navbar {
    height: 96px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
}

.navbar-container {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(190, 49, 68, 0.25), rgba(34, 39, 46, 0.2), rgba(34, 39, 46, 0.75));
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#navbar-logo h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-weight: 400;
    color: #FFFFFF;
    -webkit-text-stroke-color: #FF0000;
    -webkit-text-stroke-width: 0;
    transition: 0.3s;
}

#navbar-logo h1:hover {
    cursor: pointer;
    -webkit-text-stroke-color: #FF0000;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0 0 60px #FF0000;
}

.navbar-menu {
    position: absolute;
    right: 36px;
}

#navbar-menu-icon {
    width: 48px;
    height: 48px;
    transition: 0.3s;
    background: url(images/other/navbar-menu-open.svg);
    background-size: cover;
    position: absolute;
    right: 48px;
    top: -22px;
}

#navbar-menu-icon:hover {
    cursor: pointer;
}

#navbar-menu-card {
    position: absolute;
    height: 90.052vh;
    top: 5.078vh;
    right: -356px;
    width: 16.771vw;
    min-width: 230px;
    background: linear-gradient(-45deg, rgba(34, 39, 46, 0.5), rgba(34, 39, 46, 0.85));
    padding: 0 16px 0 16px;
    transition: 0.3s;
    opacity: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#navbar-menu-card button {
    width: 100%;
    min-width: 200px;
    background: rgba(125, 125, 125, 0.2);
    box-shadow: none;
    margin: 24px 0 0;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(34, 39, 46, 0.5);
    padding: 0 0 0 24px;
    display: none;
    align-items: center;
}

#navbar-menu-card button .text {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 0 32px;
}

#navbar-menu-card button .icon {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
}

#navbar-menu-card button:hover {
    box-shadow: 0 0 60px #BE3144;
    border-color: #BE3144;
    -webkit-animation: text-white-glow 1s ease-in-out infinite alternate;
    -moz-animation: text-white-glow 1s ease-in-out infinite alternate;
    animation: text-white-glow 1s ease-in-out infinite alternate;
}


/* projects */

.projects-section {
    width: 100%;
    height: 90.052vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projects-content {
    width: 420px;
    height: 320px;
    margin: 0 121px 0;
}

.projects-section-icon {
    font-size: 19.1875em;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 95px 0
}

.projects-section-icon:hover {
    cursor: default;
}

.projects-content .underline {
    margin: 17px 0 9px;
}

.projects-about-buttons {
    margin: 55px 0 0;
}

#portfolio-button {
    width: 150px;
    border-radius: 64px 0px 0px 64px;
    margin: 0 -4px 0;
}

#about-button {
    width: 150px;
    border-radius: 0 64px 64px 0;
    margin: 0 -4px 0;
}



/* github */

.github-section {
    width: 100%;
    height: 66.321vh;
    background: linear-gradient(to right, rgba(28, 33, 40, 0.9), rgba(28, 33, 40, 0.6), rgba(28, 33, 40, 0.9)), url(images/backgrounds/github-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-section img {
    width: 38.135vh;
    height: 37.306vh;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0,  0.25));
    margin: 0 121px 0;
}

.github-content {
    width: 420px;
    height: 320px;
    margin: 0 121px 0;
}

.github-content .underline {
    margin: 17px 0 9px;
}

#github-button {
    margin: 55px 0 0;
}

.github-button-icon {
    width: 32px;
    height: 32px;
    margin: 0 8px -6px;
    background-image: url(images/logos/github-mark.svg);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#github-button:hover .github-button-icon {
    background-image: url(images/logos/github-mark-white.svg);
    filter: drop-shadow(none);
    -webkit-animation: svg-white-glow 1s ease-in-out infinite alternate;
    -moz-animation: svg-white-glow 1s ease-in-out infinite alternate;
    animation: svg-white-glow 1s ease-in-out infinite alternate;
}



/* discord */

.discord-section {
    width: 100%;
    height: 66.321vh;
    background: linear-gradient(to left, rgba(28, 33, 40, 0.9), rgba(28, 33, 40, 0.6), rgba(28, 33, 40, 0.9)), url(images/backgrounds/discord-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-section img {
    width: 49.223vh;
    height: 37.306vh;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0,  0.25));
    margin: 0 95px 0;
}

.discord-content {
    width: 420px;
    height: 320px;
    margin: 0 95px 0;
}

.discord-content .underline {
    margin: 17px 0 9px;
}

#discord-button {
    margin: 55px 0 0;
}

.discord-button-icon {
    width: 42px;
    height: 32px;
    margin: 0 8px -6px;
    background-image: url(images/logos/discord-mark-black.svg);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#discord-button:hover .discord-button-icon {
    background-image: url(images/logos/discord-mark-white.svg);
    filter: drop-shadow(none);
    -webkit-animation: svg-white-glow 1s ease-in-out infinite alternate;
    -moz-animation: svg-white-glow 1s ease-in-out infinite alternate;
    animation: svg-white-glow 1s ease-in-out infinite alternate;
}



/* footer */

footer {
    height: 196px;
    width: 100%;
    background: #22272E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-weight: 400;
    font-size: 4em;
    text-align: center;
    word-spacing: 16px;
}

footer span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.25em;
}

.homepage-footer {
    background: none;
}

footer .first-wave{
    height: 230px;
    background-size: auto;
}

footer .second-wave{
    height: 230px;
    background-size: auto;
}



/* about page */

.about {
    width: 100%;
    height: 90.052vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
    animation: levitating 3s ease-in-out infinite alternate;
    -webkit-animation: levitating 3s ease-in-out infinite alternate;
    margin: 0 95px 0
}

.about-content {
    width: 420px;
    height: 320px;
    margin: 0 121px 0;
}

.about-content .underline {
    margin: 17px 0 9px;
}

.social-media-pins {
    width: 420px;
    height: 6.632vh;
    display: flex;
    margin: 17px 0 0;
}

.social-media-pins button {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-style: none;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
    transition: 0.3s;
    border-width: 1px;
    margin: 0 12px 0 0;
}

#github-pin {
    border-color: #352160;
}

#github-pin .pin-icon {
    width: 32px;
    height: 32px;
    background: url('images/logos/github-mark.svg');
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#github-pin:hover {
    cursor: pointer;
    background-color: #8256d0;
    border-style: solid;
    box-shadow: 0 0 60px #986ee2;
}

#github-pin:hover .pin-icon {
    background: url('images/logos/github-mark-white.svg');
    background-size: cover;
    background-position: center;
    display: inline-block;
    filter: drop-shadow(none);
    animation: svg-white-glow 2s ease-in-out infinite alternate;
}

#discord-pin {
    border-color: #2331B5;
}

#discord-pin .pin-icon {
    width: 32px;
    height: 24px;
    background: url('images/logos/discord-mark-black.svg');
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#discord-pin:hover {
    cursor: pointer;
    background-color: #5865F2;
    border-style: solid;
    box-shadow: 0 0 60px #5865F2;
}

#discord-pin:hover  .pin-icon{
    background: url('images/logos/discord-mark-white.svg');
    background-size: cover;
    background-position: center;
    display: inline-block;
    filter: drop-shadow(none);
    animation: svg-white-glow 2s ease-in-out infinite alternate;
}

#x-pin {
    border-color: #000000;
}

#x-pin .pin-icon {
    width: 24px;
    height: 24px;
    background: url('images/logos/x-logo-black.svg');
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#x-pin:hover {
    cursor: pointer;
    background-color: #22272e;
    border-style: solid;
    box-shadow: 0 0 60px #000000;
}

#x-pin:hover  .pin-icon{
    background: url('images/logos/x-logo-white.svg');
    background-size: cover;
    background-position: center;
    display: inline-block;
    filter: drop-shadow(none);
    animation: svg-white-glow 2s ease-in-out infinite alternate;
}

#spotify-pin {
    border-color: #00FF5A;
}

#spotify-pin .pin-icon {
    width: 32px;
    height: 32px;
    background: url('images/logos/spotify-logo-black.png');
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#spotify-pin:hover {
    cursor: pointer;
    background-color: #1db954;
    border-style: solid;
    box-shadow: 0 0 60px #1db954;
}

#spotify-pin:hover  .pin-icon{
    background: url('images/logos/spotify-logo-white.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    filter: drop-shadow(none);
    animation: svg-white-glow 2s ease-in-out infinite alternate;
}



/* portfolio */

.projects {
    width: 100%;
    height: 90.052vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17.2vh;
}

.projects-title h1 {
    margin: 64px 0 16px;
}

.websites-cards {
    display: flex;
}

.card {
    height: 400px;
    width: 270px;
    background: #22272E;
    border-radius: 34px;
    border-style: solid;
    border-color: rgba(125, 125, 125, 0.5);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0 64px 64px;
    transition: 0.5s;
}

.card img {
    height: 250px;
    width: 250px;
    border-radius: 24px;
    margin: 10px 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card .underline {
    margin: 14px 0 0;
}

.card h2 {
    margin: 14px 0 0;
}

.card p {
    margin: 14px 0 0;
}

.card:hover {
    animation: box-red-glow 1s ease-in-out infinite alternate;
    -moz-animation: box-red-glow 1s ease-in-out infinite alternate;
    -webkit-animation: box-red-glow 1s ease-in-out infinite alternate;
    transform: translateY(-20px);
    cursor: pointer;
}



/* website project */

.project-info {
    width: 100%;
    height: 73.161vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-info img {
    width: 520px;
    height: 292.5px;
    border-radius: 32px;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
    margin: 0 95px 0;
    transition: 0.5s;
}

.project-info img:hover {
    transform: translateY(-20px);
    cursor: pointer;
}

.project-info-content {
    margin: 0 121px 0;
}

.project-info-stats {
    margin: 24px 0 28px;
    z-index: 2;
}

.project-info-stats-left {
    width: 200px;
    height: 64px;
    border-radius: 64px 0 0 64px;
    margin: 0 -4px 0;
}

.project-info-stats-right {
    width: 200px;
    height: 64px;
    border-radius: 0 64px 64px 0;
    margin: 0 -4px 0;
}

.project-info-stats-small-text {
    color: #000000;
    font-weight: 700;
}

.project-info-stats-big-text {
    font-size: 1.75em;
    color: #000000;
    font-weight: 700;
}

.skurczycom-section-2 {
    background: rgba(34, 39, 46, 1);
}

.project-info .underline {
    margin: 17px 0 12px;
}

.project-info-stats button:hover .project-info-stats-big-text {
    color: #FFFFFF;
    animation: text-white-glow 2s infinite alternate;
    -moz-animation: text-white-glow 2s infinite alternate;
    -webkit-animation: text-white-glow 2s infinite alternate;
}

.project-info-stats button:hover .project-info-stats-small-text {
    color: #FFFFFF;
    animation: text-white-glow 2s infinite alternate;
    -moz-animation: text-white-glow 2s infinite alternate;
    -webkit-animation: text-white-glow 2s infinite alternate;
}


/* mobile devices */

@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1023px), (width: 768px){
    /* global */

    h1 {
        font-size: 5.5em;
    }

    p {
        font-size: 2.5em;
    }

    button {
        height: 112px;
        width: 320px;
    }

    .underline {
        height: 8px;
        width: 64px;
    }

    .button-text {
        font-size: 3em;
    }

	.navbar-menu {
        display: none;
    }

    .navbar {
        height: 9.948vh;
    }

    .navbar-container {
        height: 9.948vh;
    }

    #navbar-logo h1 {
        font-size: 6.5em;
    }

    footer h1 {
        font-size: 6.5em;
    }

    footer span {
        font-size: 0.3em;
    }

    

    /* homepage */

    .projects-section {
        flex-direction: column;
    }

    .projects-section-icon {
        font-size: 24em;
        margin: 0 95px 64px;
    }

    .projects-content {
        width: 500px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .projects-about-buttons {
        margin: 64px 0 0;
    }

    #portfolio-button {
        width: 250px;
    }

    #about-button {
        width: 250px;
    }

    .github-section {
        height: 50vh;
    }

    .github-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: fit-content;
    }

    .github-button-icon {
        width: 64px;
        height: 63px;
        margin: 0 8px -13px;
    }

    .discord-section {
        height: 50vh;
    }

    .discord-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: fit-content;
    }

    .discord-button-icon {
        width: 64px;
        height: 46.5px;
    }

    section img {
        display: none;
    }



    /* about page */

    .about {
        flex-direction: column;
    }

    .about img {
        display: block;
        width: 480px;
        height: 480px;
        margin: 0 0 48px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
    }

    .social-media-pins {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: 64px 0 0;
    }

    .social-media-pins button {
        width: 96px;
        height: 96px;
        margin: 0 12px 0 12px;
    }

    #github-pin .pin-icon {
        width: 64px;
        height: 63px;
    }

    #discord-pin .pin-icon {
        width: 64px;
        height: 48px;
    }

    #x-pin .pin-icon {
        width: 48px;
        height: 48px;
    }

    #spotify-pin .pin-icon {
        width: 64px;
        height: 64px;
    }



    /* portfolio */

    .websites-cards {
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 345.6px;
        height: 512px;
        margin: 64px 32px 0;
    }

    .card img {
        display: block;
        height: 325.6px;
        width: 325.6px;
    }

    .card h2 {
        font-size: 3em;
    }

    .card p {
        font-size: 2em;
    }

    .projects-title h1 {
        font-size: 5.5em;
    }



    /* projects pages */

    .projects-title {
        height: 15vh;
    }

    .project-info-stats p {
        line-height: 36px;
    }

    .project-info-stats-left {
        height: 112px;
        width: 320px;
    }

    .project-info-stats-right {
        height: 112px;
        width: 320px;
    }

    .project-info-stats-big-text {
        font-size: 52px;
    }

    .project-info-stats-small-text {
        font-size: 28px;
    }

    .project-info {
        flex-direction: column;
        height: 75.052vh;
    }

    .mobile-image {
        display: block;
    }

    .desktop-image {
        display: none !important;
    }

    .project-info img {
        display: block;
        width: 747px;
        height: 420px;
        margin: 32px 0px 32px;
    }

    .project-info-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 1089px), (-webkit-min-device-pixel-ratio: 1.5) {
    .projects-section {
        flex-direction: column;
    }
    .projects-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .github-section {
        height: 50vh;
    }
    .github-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .discord-section {
        height: 50vh;
    }
    .discord-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    section img {
        display: none;
    }
    /* about page */
    .about {
        flex-direction: column;
    }
    .about img {
        display: block;
        margin: 0 0 48px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .social-media-pins {
        display: flex;
        justify-content: center;
    }
    /* portfolio */
    .websites-cards {
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 230px;
        height: 330px;
        margin: 64px 32px 0;
    }
    .card img {
        display: block;
        height: 200px;
        width: 200px;
    }
    .card h2 {
        font-size: 1.875em;
    }
    .projects-title h1 {
        font-size: 3em;
    }
    /* projects pages */
    .project-info {
        flex-direction: column;
        height: 100vh;
    }
    .project-info img {
        display: flex;
        width: 390px;
        height: 219.375px;
        margin: 32px 0px 32px;
    }
    .project-info-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    @media screen and (max-width: 730px) {
        .navbar-menu {
            display: none;
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
        .navbar-menu {
            display: none;
        }
    }
}


/* animations */

@-webkit-keyframes text-white-glow {
    from {
        text-shadow: 0;
    }
    to {
        text-shadow: 0 0 40px #FFFFFF;
    }
}

@-webkit-keyframes svg-white-glow {
    from {
        filter: drop-shadow(0);
    }
    to {
        filter: drop-shadow(0 0 20px #FFFFFF);
    }
}

@-webkit-keyframes box-red-glow {
    from {
        box-shadow: 0 0 60px #FF0000;
    }
    to {
        box-shadow: 0 0 20px #BE3144;
    }
}

@-webkit-keyframes levitating {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(10px);
    }
}

@-webkit-keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1920px;
    }
}

@-webkit-keyframes icon-rotate {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: none;
        display: none;
    }
    100% {
        transform: translateX(-320px);
        display: block;
    }
}



/* scrollbar */

::-webkit-scrollbar {
    width: 12px;
    background: #373e47;
}

::-webkit-scrollbar-thumb {
    background-color: #000509;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1c2128;
}